<div>
  <h1 class="header">About BorrowIt and Our Team</h1>

  </div>
  <br>
  <div>
  <p id="aboutBody">

  Our missing is to connect people through the simple joy of entertainment.  Our site provideds the service of being able to loan items that you own locally to enthusiasts who share in the same interests as you.
  </p>
</div>
<br>

<div>
<h2 id="aboutTitle">Our Team</h2>
</div>
<div>
<h3>Amanda Gonzalez</h3>
<h5><em>Scrum Master and Developer</em></h5>
<p>Amanda lead our stand up meetings with ease.  She also has an incredible vision for wireframe designs.  After SD30, she will be working for Revature.</p>
<a href="https://www.linkedin.com/in/amanda-gonzalez-40a61818b/"></a>
</div>
<br>
<div>
  <h3>Isaac Mina</h3>
  <h5><em>Database Administrator and Developer</em></h5>
  <p>Isaac is the go to guy for all things data.  He has great insights into how a database should be built.  After SD30, he will be flexing his skills in the gym and Spring Tool Suite.</p>
  <a href="https://www.linkedin.com/in/isaac-mina-048b52224/"></a>
  </div>
  <br>
  <div>
    <h3>Jessica Armendariz</h3>
    <h5><em>Developer</em></h5>
    <p>Jessica loves front end work almost as much as her dogs, and that's saying a lot.  Beyond her design work, she is a great resource for reviewing code.  After SD30 she will be joining DeNOVO Solutions, LLC.</p>
    <a href="https://www.linkedin.com/in/jessica-armendariz-7517291b7/"></a>
    </div>
    <br>
    <div>
      <h3>Ken Hiveley</h3>
      <h5><em>Repo Owner and Developer</em></h5>
      <p>Very familiar with merging data, Ken had the responsibility for maintaining our Git repository.  After SD30, he will hone his dad jokes and look for development work.</p>
      <a href="https://www.linkedin.com/in/ken-hiveley/"></a>
      </div>
