<html>
<h3>Welcome to the BorrowIt page.  Your source for entertainment. </h3>

<h5>What's available?</h5><br>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
    <th>Id</th>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td (click)= "displayProduct(product)">{{product.id}}</td>
      <td (click)= "displayProduct(product)"><img class = "productimages" src="{{product.imageUrl}}"/></td>
      <td (click)= "displayProduct(product)">{{product.title}}</td>
      <td (click)= "displayProduct(product)">{{product.description}}</td>
      <td (click)= "displayProduct(product)">{{product.category.category}}</td>
      <td><button (click)="deleteProduct(product.id)">X</button></td>
    </tr>
  </tbody>
</table>
</html>
