<h3>Welcome to BorrowIt.  Your source for borrowed entertainment. </h3>

  <h5>What's available?:</h5><br>
  <div id='productDetails' *ngIf="!selected && !editProduct">
    <table *ngIf= "!selected" class = "table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th></th>
        </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
          <td (click)= "displayProduct(product)">{{product.id}}</td>
          <td (click)= "displayProduct(product)"><img class = "productimages" src="{{product.imageUrl}}"/></td>
          <td (click)= "displayProduct(product)">{{product.title}}</td>
          <td (click)= "displayProduct(product)">{{product.description}}</td>
          <td (click)= "displayProduct(product)">{{product.category.category}}</td>
          </tr>
          </tbody>
    </table>
<h4>If an item does not exist, it may be added here:</h4>

    <button (click)="addProduct(newProduct)">Add Product</button>
  <input type="text" name="title" placeholder=Title [(ngModel)]="newProduct.title" />
  <input type="text" name="image"  placeholder=ImageUrl [(ngModel)]="newProduct.imageUrl" />
  <input type="text" name="description"  placeholder=Description [(ngModel)]="newProduct.description" />
  <input type="text" name="category"  placeholder=Category [(ngModel)]="newProduct.category.category" />
  <!-- <button class= "btn btn-success"(click)="setEditProduct()">Add Item</button> -->
  </div>
  <div *ngIf = "selected">
    <h2>{{selected.title}}</h2>
    <input type="text" name="quality" placeholder="Quality" [(ngModel)]="newProductItem.quality"/>
    <input type="text" name="version" placeholder="Version" [(ngModel)]="newProductItem.version"/><br>

    <label for="available">Available</label>
    <input type="checkbox" name="available" [(ngModel)]="newProductItem.version"/>
    <button(click)="Add">Add Product Item</button>
    <button (click)="displayTable()">Back to Products</button>
  </div>

